<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is Contact Page</h1>
    <p>You are looking for <%= qs.name %> profile</p>

    <form method="POST" action="/contact">
      Name:<input type="text" name="name" value="<%= qs.name %>"><br>
      age:<input type="text" name="age" value="<%= qs.age %>"><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
