<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/profile" method="POST">
      Name:<input type="text" name="name">
      password:<input type="password" name="password">
      <input type="submit" vale="Insert">
    </form>
  </body>
</html>
